
.navbar {
        background-color: #696969;
        padding: 40px;
        text-align: right;
        &-item {
            margin: -10px 0 0 100px;
            text-decoration: none;
            color: black;
            font-weight: 600;
            font-size: 1.5em;
        }
}