.footer {
    background: grey;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item{
    align-self: center;
}

.item img {
    width: 100px;
    height: 100px;
}